
/*css button 1*/
.container {
  width: 100px;
  height: 100px;
  margin: 0s;
  padding-top: 10px;
}

.empty {
  width: auto;
  height: 10px;
}

.line {
  width: 80px;
  height: 18px;
  margin:0 auto;
  margin-bottom: 12px;
  background-color: black;
  text-align: center;
  border-radius: 7px;
}

/*css button 2*/
.contain{
  width:100px ;
  height:100px ;
}
.box{
  padding-top: 10%;
  background-color:transparent;
  width:100px ;
  height:100px ;
}

.bar{
  margin-left:auto ;
  margin-right:auto ;
  background-color:black;
  margin-bottom: 12% ;
  width:80%;
  height:17%;
  border-radius:10px;
}

#bar2{
  display: block;
}

/*css button 3*/


.contain2{
  width:100px ;
  height:100px ;
}
.box2{
  padding-top: 10%;
  background-color:transparent;
  width:100px ;
  height:100px ;
}

.br{
  margin-left:auto ;
  margin-right:auto ;
  background-color:black;
  margin-bottom: 12% ;
  width:80%;
  height:17%;
  border-radius:10px;
}